<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
   Book appointment
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          
        <div class="container my-5">
            <div class="row">
          <% for(var i =0;i<userobj.length;i++) { %>
                <div class="col col-lg-4 col-md-8" >
                    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                        <div class="card-header"><%= userobj[i].user.name %></div>
                        <div class="card-body">
                          <h4 class="card-title"><%= userobj[i].user.email %></h4>
                          <span class="badge badge-pill badge-primary"><%= userobj[i].Specialization %></span>
                          <p class="card-text"><%= description[userobj[i].Specialization].substr(0,description[userobj[i].Specialization].length /2) + "...." %></p>
                        </div>
                        <form action="/patients/appoint" method="POST">
                          <input name="pid" hidden value="<%= user.id %>"/>
                            <input name="did" hidden value="<%= userobj[i].id %>"/>
                           <div class="d-flex" >
                            <input type="datetime-local" name="bookingtime" style="width: 60%;" required/>
                            <button class="btn btn-large btn-success" type="submit" style="width: 40%;">Book appointment</button>
                           </div>
                        </form>
                     
                      </div>         
                    </div>        
                    <% }%>
                  </div>
        
            </div>
        </div>
          
      </div>
    </div>
  </div>