<h1 style="margin: 10px 0 0 0;">Have an appointment with us !</h1>
<%- include('partials/dismissiblealert.ejs') %>

    
<hr>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Doctor's Name</th>
            <th scope="col">Doctor's email</th>
            <th scope="col">Meet me!</th>

          </tr>
        </thead>
        <tbody>
<% for(var i =0;i<userobj.length;i++) { %>
          <tr class="table-active">
            <td><%= userobj[i].user.name %></td>
            <td><%= userobj[i].user.email %></td>
       
        <td>
            <% if(user){%> 
                <form action="/patients/appoint" method="POST">
                    <input name="pid" hidden value="<%= user.id %>"/>
                    <input name="did" hidden value="<%= userobj[i].id %>"/>
                    <button type="submit" class="primary btn">
                      Book an appointment 
                    </button>
                  </form>
                <% } else{%>
                    please login first
                <% } %>
         
        </td>
          </tr>

<% }%>

        </tbody>
      </table>