<div class="container my-5">
  <%- include('partials/dismissiblealert.ejs') %>
    <div class="row">

       <% if (userobj.length > 0) {%>
        <% for(var i =0;i<userobj.length;i++) { %>
          <div class="col col-lg-4 col-md-8" >
              <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                  <div class="card-header"><%= userobj[i].user.name %></div>
                  <div class="card-body">
                    <h4 class="card-title"><%= userobj[i].user.email %></h4>
                    <span class="badge badge-pill badge-primary"><%= userobj[i].Specialization %></span>
                    <p class="card-text"><%= description[userobj[i].Specialization].substr(0,description[userobj[i].Specialization].length /2) + "...." %></p>
                  </div>
                  <form action="/patients/appoint" method="POST">
                    <input name="pid" hidden value="<%= user.id %>"/>
                      <input name="did" hidden value="<%= userobj[i].id %>"/>
                     <div class="d-flex flex-column " >
                      <div class="form-group d-flex flex-wrap">
                        <div class="custom-control custom-radio m-2">
                          <input type="radio" id="<%= userobj[i].id + 1%>" value="11:00AM-12:00PM" name="bookingtime" class="custom-control-input" checked="">
                          <label class="custom-control-label" for="<%= userobj[i].id + 1%>" >11:00AM - 12:00PM</label>
                        </div>
                        <div class="custom-control custom-radio m-2">
                          <input type="radio" id="<%= userobj[i].id + 2%>" value="12:05PM-1:05PM" name="bookingtime" class="custom-control-input">
                          <label class="custom-control-label" for="<%= userobj[i].id + 2%>" >12:05PM - 1:05PM</label>
                        </div>
                       
                        <div class="custom-control custom-radio m-2">
                          <input type="radio" id="<%= userobj[i].id + 3%>" value="1:10PM-2:05PM" name="bookingtime" class="custom-control-input">
                          <label class="custom-control-label" for="<%= userobj[i].id + 3%>" >1:10PM - 2:05PM</label>
                        </div>
                        <div class="custom-control custom-radio m-2">
                          <input type="radio" id="<%= userobj[i].id + 4%>" value="1:10PM-2:05PM" name="bookingtime" class="custom-control-input">
                          <label class="custom-control-label" for="<%= userobj[i].id + 4%>" >2:10PM - 3:05PM</label>
                        </div>
                       
                      </div>
                      <button class="btn btn-block w-100 btn-success" type="submit" style="width: 40%;">Book appointment</button>
                     </div>
                  </form>
               
                </div>         
              </div>        
              <% }%>
            </div>
        <%} else {%>
          <h1>No doctors registerd yet</h1>
          <%}%>

    </div>
</div>
  